.container {
  margin-top: 50px;

}

#profile-pic {
  width: 200px;
  border: solid black 4px;
  border-radius: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.contact {

  text-align: center;
  margin: auto;
  margin-left: 0;
}

a {
  text-decoration: none;
}

.job-title {
  margin-top: 30px;
}
